/* HOME */
.home{
   height: 360px;
   min-width: 250px;
   text-align: center;
   text-transform: capitalize;
   margin-left: 24px;
   margin-right: 22px;
   float: left;
}
.home_img{
   margin-top: 15px;
   margin-bottom: 15px;
   height: 250px;
   width: inherit;
   background-size: cover;
   background-repeat: no-repeat;
}
#media_img{
   background-image: url(../imgs/home1.png);
}
#calcif_img{
   background-image: url(../imgs/home2.png);
}
#calcsw_img{
   background-image: url(../imgs/home3.png);
}
#tabuada_img{
   background-image: url(../imgs/home4.png);
}
#par_img{
   background-image: url(../imgs/home5.png);
}

/* MÉDIA */
#media_form{
    height: 300px;
    width: 1500px;
}
#media{
   height: 300px;
   width: 500px;
    float: left;
    margin-left: 300px;
}
.media_notas{
    height: 50px;
    width: 400px;
    font-family: sans-serif;
    font-size: 18px;
    margin-left: 75px;
}
input{
   height: 27px; 
}
.botao, #botao{
    height: 50px;
    width: 150px;
    background-color: #599c8b;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    font-family: sans-serif;
    float: left;
    text-transform: uppercase;
    margin-left: 20px;
}
#botao a{
    text-decoration: none;
    color: white;
}
#muda_media{
    margin-left: 130px;
}
#botao{
    box-sizing: border-box;
    padding-top: 15px;
    text-align: center;
}

/**/
#valores{
    height: 100px;
    width: 260px;
    margin-left: 250px; 
    float: left;
}
.valor_item, span{
    font-size: 18px;
    font-family: sans-serif;
    height: 50px;
    width: inherit;
}
span{
    margin-top: 100px;
}
#tipo{
    float: left;
    height: 200px;
    width: 350px;
    margin-left: 80px;
   margin-right: 80px;
}
.tipo_itens{
    height: 80px;
    width: 100px;
    float: left;
    margin-bottom: 20px;
}

/* TABUADA */
.tabuada_txt{
    height: 50px;
    width: 400px;
    font-family: sans-serif;
    font-size: 18px;
    margin-left: 350px;
}
#muda_tab{
    margin-left: 350px;
}
#tab_resul, .par_resul{
    background-color: #80706e;
    float: left;
    width: 300px;
    height: 360px;
    font-size: 30px;
    color: white;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center; 
    margin-top: -100px;
    margin-left: 100px;
    overflow: auto;
} 

/* PAR E IMPAR */
.parimpar_txt{
    height: 40px;
    width: 400px;
    font-family: sans-serif;
    font-size: 18px;
    margin-bottom: 15px; 
}
#opcoes{
   margin-left: 350px;
   height: 130px;
   width: 400px;
   font-family: sans-serif;
    font-size: 18px; 
   margin-bottom: 30px;
}
#opcoes p{
   margin-bottom: 4px;
}
.par_resultado{ 
    width: 220px;
    height: 360px;
   margin-top: 0px;
   margin-left: 10px;
    
}
#par_resultados{
   margin-top: -160px;
   float: left;
   height: 360px;
   width: 460px;
   margin-left: 90px;
}
















